@import "mapbox-gl/dist/mapbox-gl.css";
@import "tailwindcss";

/* Force Mapbox to fill container even if internal JS calculation is off */
.mapboxgl-map, 
.mapboxgl-canvas-container, 
.mapboxgl-canvas {
  height: 100% !important;
  width: 100% !important;
}


:root {
  --background: #f1f1f1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Poppins", sans-serif;
  --font-mono: monospace;
  
  /* Couleurs personnalisées de l'enquête */
  --color-orlatti: #009FAB;
  --color-accent1: #FF4F28;
  --color-accent2: #E20000;
  --color-trame: #F7F0DB;
}



html {
  /* Meilleure pratique d'accessibilité... */
  font-size: 100%;
  overflow-x: hidden;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  
  /* Ligne de base explicite... */
  font-size: 1rem;
  line-height: 1.6;
}

p {
  @apply text-lg mb-6;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

/* Customize the minimize button container */
[data-rmiz-btn-unzoom] {
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(0, 0, 0, 0.5); /* Change background color */
  border-radius: 50%;
  top: 0.75rem !important;    /* Move it further from the top */
  right: 2.5rem !important;  /* Move it further from the right */
  
}

/* Skeleton Shimmer Animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.6s infinite linear;
}


